<h1>Confirm Role Changes?</h1>


<section id="page">
  <table class="table-striped">
    <thead>
    <tr>
      <th>ID</th>
      <th>Role Name</th>
      <th>Created</th>
      <th>Updated</th>
      <th></th>
      <th></th>

    </tr>
    </thead>

    <tbody>

      <tr>
        <td><a href='/roles/<%= @role.id %>/edit'><%= @role.id %></a></td>
        <td><%= @role.role_name %></td>
        <td><%= @role.created_at.to_s %></td>
        <td><%= @role.updated_at.to_s %></td>
        <td><form method="get" action="/roles">
          <input type="submit" value="Continue" class="button" />
        </form></td>
        <td>  <form method="post" action="/roles/<%= @role.id %>">
          <input type="hidden" name="_method" value="delete" />
          <input type="submit" value="Delete" class="button" />
        </form></td>

      </tr>

    </tbody>
  </table>
  <nav>
    <ol>
      <li><a href="/roles">Roles Home</a></li>
      <li><a href="/roles/new">New</a></li>

    </ol>
  </nav>

</section>